.item-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid black;


    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        background-color: white;

    }

    .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;



        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            

            .top-item {
                padding-bottom: 5px;
            }
        }
    }
}