<h1>
    This is the Budget {{user.firstName}}
</h1>

<a href="/addCategory">Add Category</a>

<h2>{{budget.id}}</h2>


<table border='1'>

    <tr>
        <th>Name</th>
        <th>Planned</th>
        <th>Actual</th>
    </tr>



</table>
    {{#each category}}

        {{this.name}}
    {{/each}}
</div>

