<form action="/loginUser" method="post">

    <input type="text" placeholder="email" name="email">

    <input type="text" placeholder="password" name="password">

    <button type="submit" class="btn btn-success btn-sm">Log In</button>
</form>