<form action="/registerUser" method="post">
    <input type="text" placeholder="first name" name="firstName">
    <input type="text" placeholder="last name" name="lastName">
    
    
    <input type="text" placeholder="email" name="email">
    
    <input type="text" placeholder="password" name="password">
    
    <button type="submit" class="btn btn-success btn-sm">Register</button>
</form>