
<div class="container">
    <div class="header">
        <div class="img-container">
            <img src="https://via.placeholder.com/200x100" alt="">
        </div>
    </div>
    <div class="menu">
        <div class="menu-item">
            <a routerLink='#'>Debts</a>
        </div>
        <div class="menu-item">
            <a routerLink='#'>Savings</a>
        </div>
    </div>
    <div class="footer">
        <div class="email">
            <div class="profile">
                <img src="https://via.placeholder.com/20" alt="">
            </div>
            <div class="email-value">   
                email@email.com
            </div>
        </div>
        <div class="logout-btn">
            Logout
        </div>
    </div>
</div>