<div class="container">
    <div class="sidebar-container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="middle">

        <div class="heading">
            
            <div class="col">
                <div class="date">
                    <div class="item month">
                        January
                    </div>
                    <div class="item year">
                        2020
                    </div>
                </div>
                <div class="budget-info">
                    $260 over budget/left to budget
                </div>
            </div>
            <div class="col">
                <div class="buttons">
                    <div class="add-trans">
                        <img src="https://via.placeholder.com/50" alt="">
                        <div class="label">
                            Add Transaction
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

    <div class="body">

      <app-category></app-category>
        


    </div>


  </div>

</div>
